.top-title {
  font-size: 6em;
}

.top-content {
  font-size: 2em;
}

.transition1 {
  z-index: -20;
  postiton: absolute;
  margin-top: -44%;
}

.transition2 {
  z-index: -20;
  postiton: absolute;
  margin-top: -44%;
}

.transition3 {
  z-index: -20;
  postiton: absolute;
  margin-top: -44%;
}

.transition4 {
  z-index: -20;
  postiton: absolute;
  margin-top: -44%;
}

.transition5 {
  z-index: -20;
  postiton: absolute;
  margin-top: -44%;
}

.section1 {
  background-color: #1EC18D;
  color: white;
  height: 100vh;
}

.section2 {
  background-color: #212947;
  color: white;
  margin-top: 16%;
}

.section3 {
  background-color: #3F4A74;
  color: white;
}

.section4 {
  background-color: #212947;
  color: white;
}

.section5 {
  background-color: #3F4A74;
  color: white;
}

.section6 {
  background-color: #212947;
  color: white;
}
