<section class="section1">
  <div class="col-12 mb-5" style="text-align: left;">
    <div class="row">
      <img src="../../assets/images/ARCCLogo.svg" alt="" class="arcc">
      <h1 class="ml-2">LEAGUE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-7 mt-5 ml-5">
      <h1 class="top-title">TEST AND COMPETE IN THE REAL WORLD</h1>
      <p class="top-content mb-5">Compete against other AWS DeepRacer times recorded in the real world. Upload your model, we’ll run it on our DeepRacer track, send you the video, and rank your time on our global leaderboard against other cars that have times in the physical world.</p>
      <form>
        <div class="col-5">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
              </div>
            </div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary">Get Started</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-5">
      <img src="../../assets/images/Track.svg" alt="" class="track">
      <img src="../../assets/images/Car.svg" alt="" class="car">
      <img src="../../assets/images/Computer.svg" alt="" class="computer"></div>
  </div>
  <img src="../../assets/images/Transition1.svg" class="transition1" alt="">
</section>

<section class="section2">
  <img src="../../assets/images/Transition1Overlay.png" alt="" class="tran1over">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6">
        <h1 class="top-title ml-5">Race your model on a real track, from home.</h1>
      </div>
      <div class="col-6" style="margin-top: 5%;">
        <p class="top-content mb-5">Unlike the AWS league, we test all of our cars in the real world to see their performance in a non-ideal world. Prepare for a DeepRacer summit or see how your car does out of the simulation by getting started.</p>
        <form>
          <div class="col-5">
            <div class="row">
              <div class="col-7">
                <div class="form-group">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
              </div>
              <div class="col-5">
                <button type="submit" class="btn btn-primary">Get Started</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <img src="../../assets/images/Transition2.png" class="transition2" alt="">
</section>

<section class="section3">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6">
        <img src="../../assets/images/SafariDark.png" alt="" class="safari">
      </div>
      <div class="col-6">
        <h1 class="top-title">Upload. Watch. Compete.</h1>
        <p class="top-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum massa praesent ipsum nam lobortis. Nulla volutpat nulla neque magna pulvinar a euismod. Tempus, cum sollicitudin enim vitae sed id. Ut volutpat mattis elementum, felis.</p>
      </div>
    </div>
  </div>
  <img src="../../assets/images/Transition3.png" class="transition3" alt="">
</section>

<section class="section4">
  <h1 class="top-title mt-5" style="text-align: center;">HOW IT WORKS</h1>
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6">
        <img src="../../assets/images/Ex1.png" alt="">
      </div>
      <div class="col-6">
        <h1 class="top-title">Upload Your Trained Model.</h1>
        <p class="top-content"> Download your model from AWS and upload it to our servers. Don’t know how? Watch our how-to video.</p>
      </div>
    </div>
  </div>
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6">
        <h1 class="top-title ml-5">We Evaluate Your Model and Stream it.</h1>
        <p class="top-content ml-5">We run your model on our physical DeepRacer track and stream the video to twitch. Watch your car live, or tune in later to see how it does.</p>
      </div>
      <div class="col-6">
        <img src="../../assets/images/Ex2.png" alt="">
      </div>
    </div>
  </div>
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6">
        <img src="../../assets/images/Ex3.png" alt="">
      </div>
      <div class="col-6">
        <h1 class="top-title">View Your Results on our Dashboard</h1>
        <p class="top-content">See the results of all your tested models and view all your models waiting to be evaluated.</p>
      </div>
    </div>
  </div>
  <img src="../../assets/images/Transition4.png" class="transition4" alt="">
</section>

<section class="section5">
  <div class="col-11 mx-auto">
    <div class="row">
      <div class="col-6 mb-5">
        <h1 class="top-title ml-5">Signup today and one model evaluation is on us.</h1>
      </div>
      <div class="col-6 mt-5">
        <form class="mt-5">
          <div class="form-group">
            <input type="text" class="form-control" id="firstname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary">Get Started</button>
        </form>
      </div>
    </div>
  </div>
  <img src="../../assets/images/Transition5.png" class="transition5" alt="">
</section>

<section class="section6">
  <div class="row ml-5">
    <div class="col-4">
      <div class="row">
        <img src="../../assets/images/ARCCLogo.svg" alt="" class="arcc2">
        <h1 class="ml-2">LEAGUE</h1>
      </div>
      <p>by ARCC</p>
    </div>
    <div class="col-4">
      <p>Privacy Policy</p>
      <p>License</p>
      <p>Terms of Use</p>
    </div>
  </div>
</section>
