<nb-card size="small">
  <nb-card-header>
    <span>Updates</span>
  </nb-card-header>
  <nb-card-body>
    <nb-alert>
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </nb-alert>
    <nb-alert status="primary">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </nb-alert>
    <nb-alert status="success">
      <strong>Well done!</strong> You successfully read this important alert message.
    </nb-alert>
    <nb-alert status="info">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </nb-alert>
    <nb-alert status="warning">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </nb-alert>
    <nb-alert status="danger">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </nb-alert>
  </nb-card-body>
</nb-card>
