<div class="row">
  <div class="col-md-3">
    <ngx-leaderboard-ranking></ngx-leaderboard-ranking>
  </div>
  <div class="col-md-3">
    <ngx-models-uploaded></ngx-models-uploaded>
  </div>
  <div class="col-md-3">
    <ngx-models-awaiting-testing></ngx-models-awaiting-testing>
  </div>
  <div class="col-md-3">
    <ngx-updates></ngx-updates>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <ngx-upload-model></ngx-upload-model>
  </div>
  <div class="col-md-8">
    <ngx-model-list></ngx-model-list>
  </div>
</div>
