<section class="section1">
  <div class="col-12 mb-5 pt-3" style="text-align: left;">
    <div class="row">
      <img src="../../assets/images/ARCCLogo.svg" alt="" class="arcc">
      <h1 class="ml-2">ARCC LEAGUE</h1>
    </div>
  </div>
  <div class="row section1-text">
    <div class="col-lg-7 col-md-11 pl-5">
      <h1 class="top-title">TEST AND COMPETE IN THE REAL WORLD</h1>
      <p class="top-content mb-5">Compete against other AWS DeepRacer times recorded in the real world. Upload your model, we’ll run it on our DeepRacer track, send you the video, and rank your time on our global leaderboard against other cars that have times in the physical world.</p>
      <form id="email1" action="https://jhs.us4.list-manage.com/subscribe/post" method="POST">
        <input type="hidden" name="u" value="47713ec5a39b4f14f5b4e9657">
        <input type="hidden" name="id" value="fdb5156b5a">
        <div class="col-lg-8 col-md-8 col-xs-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" class="form-control" name="Email" placeholder="Email">
              </div>
              <div class="buttonwrapper">
                <button type="submit" class="btn btn-primary button">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-5 " >
      <div class="imagecontainer">
        <img src="../../assets/images/Car.svg" alt="" class="car mr-5">
        <img src="../../assets/images/Computer.svg" alt="" class="computer">
      </div>
    </div>
  </div>
</section>

<section class="section2">
  <div class="col-11 mx-auto">
    <div class="row infront">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 class="top-title">Race your model on a real track, from home.</h1>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 sec2space-md evenmoreclass">
        <p class="top-content mb-5">Unlike the AWS league, we test all of our cars in the real world to see their performance in a non-ideal world. Prepare for a DeepRacer summit or see how your car does out of the simulation by getting started.</p>
        <form id="email2" class="medbottom">
          <input type="hidden" name="u" value="47713ec5a39b4f14f5b4e9657">
          <input type="hidden" name="id" value="fdb5156b5a">
          <div class="col-lg-6 col-md-12 theunsmusher">
            <div class="form-group">
              <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE5" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Email">
            </div>
            <div class="buttonwrapper2">
              <button type="submit" class="btn btn-primary button">Get Started</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section3">
  <div class="col-12 mx-auto medleftsafari">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="../../assets/images/SafariDark.png" alt="" class="safari image">
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="section3-text">
          <h1 class="top-title">Upload. Watch. Compete.</h1>
          <p class="top-content">Our simple GUI and fast backend make it easy to compete and watch your car as it races in the real world.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section4 row">
  <div class="col-12">
    <h1 class="top-title mt-5 medtext" style="text-align: center;">HOW IT WORKS</h1>
  </div>
  <div class="col-12 mx-auto mb-2">
    <div class="row medleftex">
      <div class="col-lg-6 col-md-6 col-sm-12 medorder1">
        <img src="../../assets/images/Ex1.png" alt="" class="image">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 medorder2">
        <div class="section4-text-1">
          <h2 class="top-title">Upload Your Trained Model.</h2>
          <p class="top-content"> Download your model from AWS and upload it to our servers. Don’t know how? Watch our how-to video.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mx-auto mb-2">
    <div class="row medleftex">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="section4-text-2">
          <h2 class="top-title">We Evaluate Your Model and Stream it.</h2>
          <p class="top-content">We run your model on our physical DeepRacer track and stream the video to twitch. Watch your car live, or tune in later to see how it does.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="../../assets/images/Ex2.png" alt="" class="image">
      </div>
    </div>
  </div>
  <div class="col-12 mx-auto mb-2">
    <div class="row medleftex">
      <div class="col-lg-6 col-md-6 col-sm-12 medorder1 medmbsum">
        <img src="../../assets/images/Ex3.png" alt="" class="image">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 medorder2 medmbnone" style="margin-bottom: 15%;">
        <div class="section4-text-3">
          <h2 class="top-title">View Your Results on our Dashboard</h2>
          <p class="top-content">See the results of all your tested models and view all your models waiting to be evaluated.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section5">
  <div class="col-med-11 col-sm-12 mx-auto">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 medtextspacer" style="margin-top: 3%;">
        <div class="section5-text">
          <h1 class="top-title">Signup today and one model evaluation is on us.</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 classidek">
        <form class="mt-5" id="fullForm" class="medbottom2">
          <input type="hidden" name="u" value="47713ec5a39b4f14f5b4e9657">
          <input type="hidden" name="id" value="fdb5156b5a">
          <div class="form-group">
            <input type="text" name="MERGE1" id="MERGE1" class="form-control" name="FirstName" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" name="MERGE2" id="MERGE2" class="form-control" name="LastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE4" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary button">Get Started</button>
          <input type="hidden" name="ht" value="939e500637a2d3b76f6a40ee6966696c28c5c090:MTU2NzgxNTU4MS45NDI2">
          <input type="hidden" name="mc_signupsource" value="hosted">
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section6">
  <div class="row ml-5">
    <div class="col-lg-4 col-med-4 col-sm-4" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="row">
        <img src="../../assets/images/ARCCLogo.svg" alt="" class="arcc2">
        <h1 class="ml-2">LEAGUE</h1>
      </div>
      <p>by <a href="https://arcc.ai" target="_blank">ARCC</a></p>
      <p>Developed by Caelin Sutch and Alden Parker</p>
    </div>
<!--    <div class="col-lg-4 col-med-4 col-sm-4" style="margin-top: 5%; margin-bottom: 5%;">-->
<!--      <a class="med">Privacy Policy</a>-->
<!--      <a>License</a>-->
<!--      <a>Terms of Use</a>-->
<!--    </div>-->
  </div>
</section>
